@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header/Intro */
header {
  background: url("../img/bg-header.png") no-repeat center;
  background-size: cover;
  height: 900px;
  width: 100%;
}

.intro {
  width: 960px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #282f70;
  margin-top: 20px;
}

.list {
  display: flex;
  margin-top: 20px;
}

.list a {
  padding: 10px;
  color: #282f70;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.quote p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #282f70;
}

.quote cite {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
  color: #282f70;
  font-weight: bold;
}

/* Estoicismo */
.estoicismo {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 20px;
  padding: 10px calc((100% - 1200px) / 2);
}

.subtitle {
  grid-column: 1/9;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #282f70;
}

.subtitle::after {
  content: "";
  width: 80px;
  height: 3px;
  display: block;
  background: #282f70;
  margin: 0 auto;
}

.estoicismo img {
  grid-column: 1;
}

.estoicismo p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  grid-column: 2;
  margin-bottom: 10px;
  color: #222;
}

/* Estoicos */
.estoicos {
  position: relative;
  background: #282f70;
}

.estoicos h1 {
  color: #fff;
  text-transform: uppercase;
}

.estoicos h1::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.estoicos-grid {
  padding: 10px calc((100% - 1200px) / 2);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
}

.estoicos h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.estoicos p {
  width: 720px;
  margin: 0 auto;
  /* text-align: center; */
}

.principais-obras {
  width: 660px;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
}

.principais-obras dt {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.principais-obras ul {
  margin-bottom: 10px;
  display: none;
}

.principais-obras dd {
  display: none;
}

.principais-obras dt::before {
  content: "";
  width: 15px;
  height: 10px;
  background: #fff;
  display: inline-block;
  margin-right: 5px;
}

.principais-obras dt::after {
  content: "▼";
  margin-left: 10px;
}

.principais-obras li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #222;
  background: #5df072;
  margin-right: 10px;
  display: inline-block;
}

[data-quote-api] {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

[data-quote-api] cite {
  font-weight: bold;
  font-size: 1.2rem;
}

.quebra {
  background: url("../img/bg-footer.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.footer {
  background: #282f70;
  height: 50px;
}

.footer p {
  padding-top: 1rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
}

/* Swiper */
.swiper {
  width: 380px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Manipulação JS */
.principais-obras dt.ativo::after {
  content: "▲";
}

.principais-obras ul.ativo {
  display: block;
  animation: show 0.5s forwards;
}

.principais-obras dd.ativo {
  display: block;
  animation: show 0.5s forwards;
}

/* Animação CSS */
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
